*{
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
	font-family: 'Helvetica';
	font-size: 14px;
  	transition : 0.5s all;
    -webkit-transition : 0.5s all;
    //border: 1px solid black;//afficher les enveloppes
    margin: 0 0;
    color:white;
}
/*html{
	height: 1080px;
	width: 1920px;

}*/
body{
	background-color: #b32d00;
	background-image: url('../img/Miami.jpg');
	background-repeat: no-repeat;
	background-size : cover;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
header {
    background-color:   transparent;
    padding: 10px 20px;
    width: 100%;
    color: #FFF;
    text-align: center;
}
#barreNav {
	display: none;
}
#registerZone {
	display: none; 
}

footer {
	height: 200px;
    background:#4d1300;
    background: -webkit-linear-gradient(top,#b32d00,#4d1300);
    padding: 10px 20px;
    text-align: center;
    margin-top:236px;
    position: relative;

}
#logoDiv{
	z-index: 10000;
	position: fixed;
	top: 20px;
	left: 25px;
    border-radius: 70% 0;
    padding: 20px 0px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: green;
}
#connexionZone{
    text-align: center;
    background-color: rgba(77, 19, 0,0.6);
    margin-bottom: 100px;
    
}
#registerZone{
    text-align: center;
    background-color: rgba(77, 19, 0,0.6);
}
figure{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}
#yelpImg{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: red;
}

#presentation{
    font-family: 'Montserrat';
    height: 300px;
    background-color: rgba(77, 19, 0,0.6);
    font-size: 1.5em;
    //margin: 10em auto 0;
    padding: 5em 5em;
    
    text-align: center;
    
    box-sizing: border-box; 
}
.switchBtn{
	width: 350px;
	height: 30px;
    background-color: transparent;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    clear: both;
    margin: 10px auto ;
}
.switchBtn:hover{
    background-color: #b32d00;
    width: 360px;
}
.bouton{ 
	color: white;
	width: 350px;
	height: 30px;
    background-color: transparent;
	display: inline-block;
	clear: both;
	margin: 10px auto ;
}
.bouton:hover{
    background-color: #b32d00;
    width: 360px;
}
                                       /**header_PAUL**/
input{
    color:#854442;
   
    border-radius: 50px;
    //float: left;
}
/*input.para{
    float: right;
    margin-right: 55px;
}
input.deco{
    float: right;
    margin-right: 40px;
    margin-top: 0px;
}*/
img{
    float: left;
}
#barreNav>a{
    color:darkblue;
    padding-left: 50px;
    padding-top: 120px;
    text-decoration: none;
}
                            /*correction Jo*/

#slogan{
	display: relative;
    z-index: 1000;
    position: fixed;
    height: 125px;
    width: 100%;
    top: 0px;
    background:#4d1300;
    background: -webkit-linear-gradient(top,#4d1300,#b32d00);
}
#slogan>h1{
    text-align: center;
}
#slogan>h2{
    text-align: center;
}
form{
    margin-top: 150px;
    margin-bottom: 10px;
}
.closePopIn{
	display: none;
}
table{
	width: 50%;
	clear: both;
	margin: 0 auto;
}
td>input{
	width: 70%;
}
h1{
	font-size: 34px;
	font-weight: 600;
}
h2{
	font-size: 18px;
	font-weight: 400;

}
li{
	display: inline-block;
}
/*Page Profil*/
.secProfile{
	clear: both;
	max-width: 840px;
	height: 20em;
	background-color: rgba(229,77,0,0.6);
	margin: 150px auto 100px;
	text-align: center;
}
.secProfile>div{
	display: inline-block;
}
.secProfile>figure{
	float: left;
	//background-color: green;
	height: 150px;
	width: 200px;
}
.secProfile>div>ul>li{
display: block;
text-align: left;
width: 150px;
margin: 5px 0;
margin-left: 220px;
}
.secProfile>div>h2{
	text-align: left;
}
.secProfile>aside{
	float: left;
}
.secProfile>aside>ul>li{
	display: block;
}
.secProfile>figure>img{
	max-width: 80%;
}
#infoProfile{
	float: left;
	//background-color: #E59400;
	margin:0 0;
}
#infoProfile>ul{
	left: 0;
	
}
#infoProfile>ul>li{
	margin-left: 0;
}
#interactProfile{
	margin-right: 0px;
	text-align: left;
}
#interactProfile>li{
	margin: 5px auto;
	display: block;
	}
#troublemaker{
		height: 10px;
		width: 50px;
	}
#visuProfile{
	position: relative;
	top: 150px;
	left: 100px;
}
.secProfile>aside{
	margin: 0 25px;
}
article>div>h2{
	text-align: left;
}
.secProfile>article>div{
	margin-left: 0;
}
article>div>figure{
	//display: inline-block;
	margin-left: 0;
	//position: relative;
	width:200px;
	height: 142px;
}
article>div>figure>img{
	max-width: 100%;
}
iframe{
	position: absolute;
	top: 525px;
	left: 600px;
}
.secProfile>article{
	height: 280px;
	margin-left: 200px;
}
.secProfile>div>div{
	display: inline-block;
}
.titleDesc{
	width: 100px;
	display: inline-block;
	margin: 10px 15px 0;
}
/*li>a{
    color:white;
    text-decoration: none;
}*/


/*RESPONSIVE*/
@media only screen and (max-width: 850px) {
	*{
		font-size: 0.9em;
	}
	h3{
		font-size: 1.5em;
	}
	label{
		font-size: 2em;
	}
	body{
		min-width: 600px;
		background-color: #E59400;
		//background-image: url('http://wallpapers55.com/wp-content/uploads/2013/11/hd-wallpaper-beach-miami-1120x600.jpg');
		background-repeat: no-repeat;
		background-size : cover;
		margin-top: 0;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 0;
	}
	td > input{
	width: 100%;
	font-size: 2em;
	}
	.switchBtn{
		font-size: 2em;
	}
	.bouton{ 
		font-size: 2em;
	}
	#presentation{
    
    height: 30%;
    font-size: 1.5em;
    margin: 10em auto ;
    padding: 5em 5em;
    }
    footer{
    height: 200px;
    background:#4d1300;
    background: -webkit-linear-gradient(top,#b32d00,#4d1300);
    padding: 10px 20px;
    text-align: center;
    //margin-top:50em;
    //position: fixed;
    }
    
}
