body:before{
	position: absolute;
	-webkit-filter: blur(5px);
}
body{
	background-image: url("http://photofiles.alphacoders.com/234/23422.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background: -webkit-filter(5px);
	font-family: Georgia;
	display: inline-block; 

}

#blurBox{
  margin-left: 100%  ;
  width: 50em;
  border: 3px solid #663333;
  opacity: 1;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  width:200% ;
  float: left;
  border-radius: 10px;

  

 }
#boxContent{
	 margin: 5%;
}
a{
	margin-top: 150px;
	color: brown;
	position: static;
}
#a{
	float: right;
	margin-top: 40px;
}
#chris{
	float: left;
}
#infos{
	margin-left: 200px;
}
#profil{
	margin-bottom: 150px;
	display: inline-block;
}
img{
	border-radius: 30px;
	-webkit-filter: drop-shadow(8px 8px 10px Grey); /* Chrome, Safari, Opera */
    filter: drop-shadow(8px 8px 10px Grey);
}
#contact{
border-width: 1px;
border-style: solid;
width: 35%;
margin-bottom: 10px;
border-radius: 30px;
padding-left: 20px;
border-color: #ffd699
}
th >:first-child{
	color: #FF0033;
}
h1{
	color: #ffd699;
}